.bg {
  background: #222222;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header__left {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.box-bg {
  background: #F1E4E6;
  min-height: 363px;
}

.content {
  display: flex;
  align-items: center;
}

.content-left {
  width: 50%;
}

.content-img {
  max-width: 100%;
}

.content-right {
  padding-left: 64px;
}

.content-right-box {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.content__title {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.content__text {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__text span {
  color: #F16D7F;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1024px) {
  .content__title {
    font-size: 44px;
  }
  .content__text {
    font-size: 24px;
  }
  .content__text span {
    font-size: 24px;
  }
}
@media (max-width: 790px) {
  .content-img {
    max-width: 105%;
  }
}
@media (max-width: 786px) {
  .box-bg {
    display: flex;
    align-items: center;
  }
  .content-left {
    display: none;
  }
  .content-right {
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .header-none {
    display: none;
  }
  .content__title {
    font-size: 38px;
  }
  .content__text {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .box-bg {
    display: flex;
    align-items: center;
  }
  .header-none {
    display: none;
  }
  .content-img {
    display: none;
  }
  .content__title {
    font-size: 38px;
  }
  .content__text {
    font-size: 20px;
  }
  .content-left {
    width: 0px;
  }
  .content-right {
    padding-left: 0px;
  }
}
.offer {
  margin-top: 65px;
  margin-bottom: 96px;
}

.offer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 30px;
}

.offer__top-items {
  position: relative;
}

.offer__top-items-img {
  filter: brightness(40%);
  max-width: 100%;
}

.offer__top-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.offer__top-items-text {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer__top-items-heading {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer__bottom-items {
  position: relative;
}

.offer__bottom-items-img {
  filter: brightness(40%);
  width: 100%;
}

.offer__bottom-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.offer__bottom-items-text {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer__bottom-items-heading {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 600px) {
  .offer__top {
    flex-direction: column;
    align-items: center;
  }
  .offer__bottom-items-img {
    min-height: 200px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 375px) {
  .offer__top {
    display: block;
    margin-bottom: 0px;
  }
  .offer-link {
    margin-bottom: 32px;
    display: inline-block;
  }
  .offer {
    margin-bottom: 64px;
  }
  .offer__bottom-items-img {
    min-width: 290px;
    min-height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.products {
  margin-bottom: 250px;
}

.products-title {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 6px;
}

.products-text {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 48px;
}

.products-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-card {
  width: 32%;
  background: #F8F8F8;
  margin-bottom: 25px;
  position: relative;
}
.products-card:hover .products-add-box {
  display: flex;
}

.products-card-link {
  text-decoration: none;
  display: block;
}

.product-card-img {
  width: 100%;
}

.product-card-img:hover {
  filter: brightness(45%);
}

.card-items-title {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px 0px 16px 16px;
}

.card-items-text {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0px 29px 16px 16px;
}

.card-items-price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 0px 24px 16px;
}

.products-add-box {
  display: none;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.products-add-box:hover {
  box-shadow: 0px 0px 5px #F16D7F;
}

.products-add {
  padding: 7px 12px;
  border: 1px solid white;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg-item {
  margin-right: 10px;
}
.svg-item:hover path {
  fill: #F16D7F;
}

.btn-box {
  text-align: center;
  margin-top: 48px;
}

.products-btn {
  display: inline-block;
  text-decoration: none;
  border: solid 1px #FF6A6A;
  padding: 15px 39px;
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  .products-card {
    width: 48%;
  }
  .btn-box {
    margin-top: 32px;
  }
}
@media (max-width: 500px) {
  .products-card {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .products-card {
    width: 100%;
  }
  .products-card {
    margin-bottom: 16px;
  }
  .products {
    margin-bottom: 80px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}