.bg {
    background: #222222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.header__left {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px
}

.box-bg {
    background: #F1E4E6;
}

.content {
    display: flex;
    align-items: center
}

.content-left {
    width: 50%;
}

.content-img {
    max-width: 100%;
}

.content-right {
    padding-left: 64px;
}

.content-right-box {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.content__title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content__text {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span {
        color: #F16D7F;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

@media (max-width: 1024px) {

    .content__title {
        font-size: 44px;
    }

    .content__text {
        font-size: 24px;

        span {
            font-size: 24px;
        }
    }
}