.bg {
    background: #222222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    position: relative;

    &__icon:hover path {
        fill: #F16D7F
    }

    &__left {
        display: flex;
        align-items: flex-end;
        gap: 40px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
}

.menu {

    &__btn {
        cursor: pointer;
        background: transparent;
        border: none;
    }

    &__list {
        width: 232px;
        background-color: white;
        position: absolute;
        z-index: 20;
        display: flex;
        flex-direction: column;
        right: 0px;
        top: 87px;

        &-btn-close {
            position: absolute;
            cursor: pointer;
            top: 10px;
            right: 10px;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
                color: #F16D7F;
            }

            &:hover path {
                fill: #F16D7F;
            }
        }

        h5 {
            padding: 32px 0px 24px 33px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        ul .menu__link {
            color: #F16D7F;
            padding-left: 32px;
            padding-bottom: 12px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }

        ul .menu__link-item {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0px 0px 12px 53px;
            text-decoration: none;
        }

        li:last-child {
            padding-bottom: 20px;
        }

        li {
            list-style-type: none;
            padding-bottom: 11px;
        }

        a:hover {
            color: #F16D7F
        }

    }
}


.none {
    display: none;
}


.box-bg {
    background: #F1E4E6;
    min-height: 363px;
}

.content {
    display: flex;
    align-items: center
}

.content-left {
    width: 50%;
}

.content-img {
    max-width: 100%;
}

.content-right {
    padding-left: 64px;
}

.content-right-box {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.content__title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content__text {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span {
        color: #F16D7F;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

@media (max-width: 1024px) {

    .content__title {
        font-size: 44px;
    }

    .content__text {
        font-size: 24px;

        span {
            font-size: 24px;
        }
    }
}

@media (max-width: 790px) {
    .content-img {
        max-width: 105%;
    }
}

@media (max-width:786px) {
    .box-bg {
        display: flex;
        align-items: center;
    }

    .content-left {
        display: none;
    }

    .content-right {
        padding-left: 0px;
    }
}

@media (max-width: 500px) {
    .header-none {
        display: none;
    }

    .content__title {
        font-size: 38px;
    }

    .content__text {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .box-bg {
        display: flex;
        align-items: center;
    }

    .header-none {
        display: none;
    }

    .content-img {
        display: none;
    }

    .content__title {
        font-size: 38px;
    }

    .content__text {
        font-size: 20px;
    }

    .content-left {
        width: 0px;
    }

    .content-right {
        padding-left: 0px;
    }


}