@import 'header';
@import 'offer';
@import 'cards';
@import 'footer';
@import 'product';
@import 'catalog';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;

}